##
## This file is part of the coreboot project.
##
## Copyright (C) 2011-2012  Alexandru Gagniuc <mr.nuke.me@gmail.com>
##
## This program is free software: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 2 of the License, or
## (at your option) any later version.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##

if BOARD_HP_T5550

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select CPU_VIA_NANO
	select NORTHBRIDGE_VIA_VX900
	select SUPERIO_VIA_VT1211
	select HAVE_PIRQ_TABLE
	select PIRQ_ROUTE
	select HAVE_MP_TABLE
	#select HAVE_OPTION_TABLE
	#select HAVE_ACPI_TABLES
	#select HAVE_ACPI_RESUME
	#select BOARD_HAS_FADT
	select BOARD_ROMSIZE_KB_1024

config MAINBOARD_DIR
	string
	default hp/t5550

config MAINBOARD_PART_NUMBER
	string
	default "t5550"

config IRQ_SLOT_COUNT
	int
	default 13

config BOOTBLOCK_MAINBOARD_INIT
	string
	default "mainboard/hp/t5550/bootblock.c"

endif # BOARD_HP_T5550
