if BOARD_HP_NEOWARE_CA19

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select CPU_VIA_C7
	select NORTHBRIDGE_VIA_CN700
	select SOUTHBRIDGE_VIA_VT8237R
	select SUPERIO_WINBOND_W83697HF
	select HAVE_PIRQ_TABLE
	select HAVE_OPTION_TABLE
	select BOARD_ROMSIZE_KB_512

config MAINBOARD_DIR
	string
	default hp/ca19

config MAINBOARD_PART_NUMBER
	string
	default "Neoware CA19"

config IRQ_SLOT_COUNT
	int
	default 10

endif # BOARD_HP_NEOWARE_CA19
